<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="text-center">LOGIN</h1>
        <form action="" method="post">
            <div class="form-group">
                <input type="text" name="username" id="user" placeholder="Inter username..." class="form-control">
            </div>
            <div class="form-group">
                <input type="password" name="password" id="pass" placeholder="Inter password..." class="form-control">
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-danger">
            </div>
        </form>
    </div>
</body>
</html>